{% for com in comments%}
{% for pos in postOne %}
<ul>
    <li>
        <div class="comment">
            <div class="author">
                <h5>{{ com.name }} | <span class="date">{{ com.date }}</span></h5>
            </div>
            <hr>
            <div class="comment_text">
                {{ com.text }}
            </div>
            <a href="addComment.php?comment_id={{ com.id_comment }}&post_id={{ pos.post_id }}">Ответить</a>
        </div>

        {% for chi in com.childs %}
         <ul>
            <li>
                <div class="comment">
                    <div class="author">
                        <h5>{{ chi.name }} | <span class="date">{{ chi.date }}</span></h5>
                    </div>
                    <hr>
                    <div class="comment_text">
                        {{ chi.text }}
                    </div>
                    <a href="addComment.php?comment_id={{ chi.id_comment }}&post_id={{ pos.post_id }}">Ответить</a>
                </div>
                {% for c in chi.childs %}
                <ul>
                    <li>
                        <div class="comment">
                            <div class="author">
                                <h5>{{ c.name }} | <span class="date">{{ c.date }}</span></h5>
                            </div>
                            <hr>
                            <div class="comment_text">
                                {{ c.text }}
                            </div>
                            <a href="addComment.php?comment_id={{ c.id_comment }}&post_id={{ pos.post_id }}">Ответить</a>
                        </div>
                        {% for ch in c.childs %}
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="author">
                                        <h5>{{ ch.name }} | <span class="date">{{ ch.date }}</span></h5>
                                    </div>
                                    <hr>
                                    <div class="comment_text">
                                        {{ ch.text }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>
                </ul>
                {% endfor %}
            </li>
        </ul>
        {% endfor %}
    </li>
</ul>
{% endfor %}
{% endfor %}

