{% include 'header.html' %}

{%for one in postOne %}
<h1 class="h1">{{one.post_title}}</h1>
<p class="infoPost">Автор поста : <a href="">{{one.post_user}}</a> | <a href="./editPost.php?post_id={{ one.post_id }}">редактировать</a><br>Дата создания поста : {{one.post_date}}<br>Последнее редактирование : {{one.post_upd_date}}</p>
<div>
    <p>{{one.post_text|nl2br}}</p>
</div>
<hr>
<p>Оставить комментарий</p>
<form action="" method="post">
    <p class="infoPost">
        <label for="name">Ваше имя</label><br>
        <input type="text" name="name" id="name">
    </p>
    <p class="infoPost">
        <label for="text">Текс сообщения</label><br>
        <textarea name="text" id="text" style="margin: 0px; width: 300px; height: 50px;"></textarea>
    </p>
    <p><input type="hidden" name="post_id" value="{{one.post_id}}"></p>
    <button type="submit">Сохранить</button>
</form>
{% endfor %}

